{
	admin off
	email {$ACME_EMAIL}
}

{$SITE_ADDRESS} {
	encode zstd gzip

	basic_auth {
		{$BETA_USERNAME} {$BETA_PASSWORD_HASH}
	}

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	reverse_proxy app:8090
}
